<div class="row">
  <div class="card col-12">
    <h4 class="card-header">{{(thread | async).title}}</h4>
    <p class="card-body">{{(thread | async).description}}</p>
  </div>
</div>

<div class="row mt-4" *ngFor="let msg of (messages | async)">
  <div class="col-2 border">
      <p>{{msg.author.displayName || msg.author.username}}</p>
      <p>{{msg.createdAt | date:'short' }}</p>
  </div>
  <div class="card col-10 border">
    <p class="card-body">{{msg.content}}</p>
  </div>
</div>

<app-new-message (newMessageEvent)="addMessage($event)"></app-new-message>