<app-new-thread (newThreadEvent)="addThread($event)"></app-new-thread>

<div class="list-group">
  <a [routerLink]="[thread._id]"
     class="list-group-item list-group-item-action"
     *ngFor="let thread of (threads | async)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{thread.title}}</h5>
      <small>{{thread.createdAt | date:'short' }}</small>
    </div>
    <p class="mb-1">{{thread.description}}</p>
    <small>Written by: {{thread.author}}</small>
  </a>
</div>
